<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
<!--<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">-->
    <Properties>
        <Property name="CONSOLE_PATH">%style{%d{HH-mm-ss.SSS}}{yellow} [%-5p] %highlight{%c:} %m%n</Property>
        <Property name="CHARSET">UTF-8</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATH}"
                           charset="${CHARSET}"
                           disableAnsi="false"/><!--disableAnsi:是否关闭彩色打印；false为不关闭；true：为关闭-->
            <!--输出大于等于INFO级别的信息-->
<!--            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--输出小于INFO级别的信息-->
<!--            <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT"/>-->
            <Filters>
                <!--NEUTRAL：中立，使用下一个filter进行判断-->
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <File name="File" fileName="D:\log\log4j2.log">
            <PatternLayout pattern="%d{HH-mm-ss.SSS} [%-5p] %c: %m%n" charset="${CHARSET}"/>
        </File>
        <RollingFile name="File"
                     fileName="D:\log\log4j2.log"
                     filePattern="D:/log/log4j2/%d{yyyy-MM-dd-HH-mm}_%i.log.gz">
            <PatternLayout pattern="%d{HH-mm-ss.SSS} [%-5p] %c: %m%n" charset="${CHARSET}"/>
            <Policies>
                <!--按时间间隔生成-->
                <TimeBasedTriggeringPolicy interval="2" />
                <!--安大小分-->
                <SizeBasedTriggeringPolicy maxFileSize="1MB"/>
            </Policies>
            <!--设置滚动输出的%i的大小-->
            <DefaultRolloverStrategy max="10">
                <!--删除日志文件-->
                <!--maxDepth：可以访问的层度深度；IfLastModified：删除7秒没有进行修改的文件-->
                <Delete basePath="D:\log\" maxDepth="10">
                    <IfFileName glob="*1*.log.gz"/>
                    <IfLastModified age="7s"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--异步输出-->
        <Async name="async">
            <Appenders-ref ref="RollingFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>